* {
	box-sizing:border-box;
   }

body {
	/*background-image: url("imagenes/fondohtml.jpg");*/	
	background-color: #888a89;
}
header{
	text-align: center;
	color: white;
}
#logotipo img{
	height: 200px;
	width: 600px;
	margin-bottom: -45px;
}
h2,h3{
	color: white;
}
#todo{
  margin-left: auto;
  margin-right: auto;
  width: 703px;
  height: 604px;
  border: 4.5px solid white;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: inherit;
}
#header-buscar{
	text-align: center;
	margin-top: -50px;
	margin-bottom: -50px;
	padding-bottom: 0px;
}
#textobuscar{
	font-size: 50px;
}
#buscarI{
	width: 400px;
	height: 40px;
	font-size: 30px;
	margin-left: 60px;
	margin-right: 36px;
}
#boton-buscar{
	font-size: 35px;
}
#lid{
	font-size: 30px;
	color: white;
	margin-left: 20px;
	margin-right: 81px;
}
#id{
	width: 400px;
	height: 40px;
	font-size: 30px;
}
#lid,#id{
	margin-bottom: 15px;
}
#lnombre{
	font-size: 30px;
	color: white;
	margin-left: 20px;
}
#nombre{
	width: 400px;
	height: 40px;
	font-size: 30px;
}
#lnombre,#nombre{
	margin-bottom: 15px;
}
#lapep{
	font-size: 30px;
	color: white;
	margin-left: 20px;
	margin-right: 28px;
}
#ape_pat{
	width: 400px;
	height: 40px;
	font-size: 30px;
}
#lapep,#ape_pat{
	margin-bottom: 15px;
}
#lapem{
	font-size: 30px;
	color: white;
	margin-left: 20px;
	margin-right: 18px;
}
#ape_mat{
	width: 400px;
	height: 40px;
	font-size: 30px;
}
#lapem,#ape_mat{
	margin-bottom: 15px;
}
#lcomandancia{
	font-size: 30px;
	color: white;
	margin-left: 20px;
	margin-right: 67px;
}
#comandancia{
	width: 400px;
	height: 40px;
	font-size: 30px;
}
#lcomandancia,#comandancia{
	margin-bottom: 15px;
}
#lemail{
	font-size: 30px;
	color: white;
	margin-left: 20px;
	margin-right: 169px;
}
#email{
	width: 400px;
	height: 40px;
	font-size: 30px;
}
#lemail,#email{
	margin-bottom: 15px;
}
#lcelular{
	font-size: 30px;
	color: white;
	margin-left: 20px;
	margin-right: 148px;
}
#celular{
	width: 400px;
	height: 40px;
	font-size: 30px;
}
#lcelular,#celular{
	margin-bottom: 15px;
}
#boton-actualizar{
	margin-left: 20px;
	font-size: 35px;
	width: 140px;
}
#boton-regresa{
	font-size: 35px;
	width: 140px;
	margin-left: 190px;
	
}