* {
	box-sizing:border-box;
   }

body {
	/*background-image: url("imagenes/fondohtml.jpg");*/	
	background-color: #888a89;
}
header{
	text-align: center;
	color: white;
}
#logotipo img{
	height: 200px;
	width: 600px;
	margin-bottom: -45px;
}
#registro{
  margin-left: auto;
  margin-right: auto;
  width: 703px;
  height: 523px;
  border: 4.5px solid white;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: inherit;
}
#header-registro{
	text-align: center;
	margin-top: -50px;
	margin-bottom: -50px;
	padding-bottom: 0px;
}
#textoregistro{
	font-size: 40px;
	color: white;
	padding-bottom: 15px;
}
h5{
	font-size: 30px;
	text-align: center;
	color: white;
	margin-bottom: 10px;
	margin-top: 10px;
}
#lista-oficiales{
	width: 600px;
	height: 40px;
	font-size: 30px;
	margin-left: 45px;
	margin-bottom: 15px;
}
#enviar{

	margin-top: 15px;
}
#boton-enviar{
	display: block;
	font-size: 35px;
	width: 340px;
	margin-right: auto;
	margin-left: auto;
}
#nombres,#numero-de-patrullas, #numero-de-turno {
	font-size: 30px;
	width: 550px;
	margin-left: 70px;
		text-align: center;
}
